<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <time type='FastLocal'/>
  <variable name="directory" value="log"/>
  <variable name="program" value="DatexPub"/>
  <variable name="layout" value="${longdate}|${uppercase:${level}}|${logger}|${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true}|${message}"/>

  <targets>
	<!--<target name="TraceFile" xsi:type="File" layout="${layout}" fileName="${directory}/${program}_Trace.log" archiveFileName="${directory}/Archive/${program}_Trace_{#}.log" maxArchiveFiles="3" archiveAboveSize="3000000" keepFileOpen="false"/>
	<target name="InfoFile" xsi:type="File" layout="${layout}" fileName="${directory}/${program}_Info.log" archiveFileName="${directory}/Archive/${program}_Info_{#}.log" maxArchiveFiles="3" archiveAboveSize="3000000" keepFileOpen="false"/>
	<target name="DebugFile" xsi:type="File" layout="${layout}" fileName="${directory}/${program}_Debug.log" archiveFileName="${directory}/Archive/${program}_Debug_{#}.log" maxArchiveFiles="3" archiveAboveSize="3000000" keepFileOpen="false"/>-->
	<target name="ErrorFile" xsi:type="File" layout="${layout}" fileName="${directory}/${program}_Error.log" archiveFileName="${directory}/Archive/${program}_Error_{#}.log" maxArchiveFiles="3" archiveAboveSize="3000000" keepFileOpen="false"/>
	<target name="CommonFile" xsi:type="File" layout="${layout}" fileName="${directory}/${program}_Common.log" archiveFileName="${directory}/Archive/${program}_Common_{#}.log" maxArchiveFiles="3" archiveAboveSize="3000000" keepFileOpen="false"/>
	<target xsi:type="NLogViewer" name="Runtime" address="udp://127.0.0.1:878"/>
  </targets>

  <rules>
	<logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="TraceFile" />
	<logger name="*" minlevel="Info" maxlevel="Warn" writeTo="InfoFile" />
	<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="DebugFile" />
	<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="ErrorFile" />
	<logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="CommonFile" />
	<logger name="*" minlevel="Trace" writeTo="Runtime" />
  </rules>

  <!-- 
	Uso predefinito dei livelli:
	Trace: gli ingressi e le uscite dalle varie funzioni
	Info:	tutte le informazioni legate al funzionamento normale del programma
	Warn:	le informazioni di funzionamento anomalo, ma non problematico
	Debug: informazioni di dettaglio utili ad individuare eventuali problemi
	Error: le eccezioni
	Fatal: situazioni che impediscono al programma di svolgere il suo lavoro e
	       che richiedono l'intervento nostro o di aziende esterne
	-->
</nlog>
